/* client/src/css/titleHeader.css  */

@import url('https://fonts.googleapis.com/css?family=Contrail+One|Lobster');
/* font-family: 'Lobster', cursive;
font-family: 'Contrail One', cursive; */

.TitleHeader {
  background-color: #9E2525;
  height: 55px;
  width: 380px;
  font-family: 'Contrail One', cursive;
  color: white;
  font-size: 30px;
  padding: 5px;
  text-align: center;
  margin-left: 36px;

}
